version: "3.8"

services:
    mockmate-ai-backend-production-api:
        image: 418596590147.dkr.ecr.us-east-1.amazonaws.com/mockmate-ai-backend-production-image:latest
        env_file: .env
        restart: on-failure
        ports:
            - "5001:5001"
        container_name: mockmate-ai-backend-production-container # Set a specific container name
        logging:
            driver: "awslogs"
            options:
                awslogs-region: "us-east-1" # AWS region for CloudWatch Logs
                awslogs-group: "mockmate-ai-backend-production-container-${INSTANCE_ID}-logs" # CloudWatch Log Group
                awslogs-stream: "mockmate-ai-backend-production-container-${INSTANCE_ID}-logs-stream" # Log Stream for the container
                awslogs-create-group: "true" # Automatically create the Log Group
